[submodule "Psico/vendor/spdlog"]
	path = Psico/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Psico/vendor/GLFW"]
	path = Psico/vendor/GLFW
	url = https://github.com/StephanGuingor/glfw
